<div class="row">
	<div class="columns large-2 medium-2 small-2 avatar-wrap">
		<img src="{{player.avatar_url}}" alt="{{player.name}}" />
	</div>
	<div class="columns medium-10 small-10 large-10">
		<a href="{{player.url}}" class="comment-player-name">
			{{player.name}}
		</a>
		<p>{{{body}}}</p>
	</div>
</div>