<div class="shot-wrapper">
	<a href="/shots/{{id}}" class="shot" data-id="{{id}}">
		<img src="{{image_url}}" />
	</a>
	<ul class="inline-list meta right">
		<li class="comment-count">
			<i class="fa fa-comment"></i> {{comments_count}}
		</li>
		<li class="view-count">
			<i class="fa fa-eye"></i> {{views_count}}
		</li>
		<li class="like-count">
			<i class="fa fa-heart"></i> {{likes_count}}
		</li>
	</ul>
</div>